.fans{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px
}

.fan{
    border:1px solid black;
    padding: 10px;
    border-radius: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}